<!DOCTYPE HTML>
<html>
<% include ../partials/head.ejs %>
    <body>
        <% include ../partials/header.ejs %>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>Austin</h1>
                <section>
                    <p>
                        <!--<span class="image left"><img src="https://s3.amazonaws.com/rpateltravels/Austin/City/01.JPG" alt="" /></span>-->
                        <span class="image left"><img src="http://www.booktrip4me.com/Content/images/Coming-Soon.png" alt="" /></span>
                        Story coming soon..
                    </p>
                </section>
            </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer.ejs %>
    </body>
</html>