	<div id="footer">
		<div class="left">
			<p>This is <strong>rpateltravels</strong>, a personal porfolio website for <a href="http://www.rpatel.me"><strong>Ravi Patel</strong></a>.</p>
			</div>
			<div class="right">
				<!-- <ul class="contact">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul> -->
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</div>

	</div>
	<!-- Scripts -->
	<script src="parallelism/js/jquery.min.js"></script>
	<script src="parallelism/js/jquery.poptrox.min.js"></script>
	<script src="parallelism/js/skel.min.js"></script>
	<script src="parallelism/js/skel-viewport.min.js"></script>
	<script src="parallelism/js/util.js"></script>
	<!--[if lte IE 8]><script src="parallelism/js/ie/respond.min.js"></script><![endif]-->
	<script src="parallelism/js/main.js"></script>
</html>