<!-- Header -->
            <section id="header">
                <header>
                    <h1>Memories</h1>
                    <p>By Ravi Patel</p>
                </header>
                <footer>
                    <a href="#banner" class="button style2 scrolly-middle">What is it?</a>
                </footer>
            </section>

        <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Story</h2>
                </header>
                <p>Sharing some of the memories from my travels and events attended.</p>
                <footer>
                    <a href="#gallery" class="button style2 scrolly">View Gallery</a>
                    <div class="dropdown show">
                      <a class="btn style2 scrolly dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        List of Portfolios
                      </a>

                      <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
                        <% info.forEach(project => {%>
                            <a class="dropdown-item" href="#<%= project.title.replace(/ /g, '')%>"><%= project.title%> - <%= project.term%></a>
                        <%})%>
                      </div>
                    </div>
                </footer>
            </section>

            <!-- Return to Top -->
            <span id="return-to-top"><i class="fa fa-2x fa-angle-up"></i></span>