<!-- Menu -->
<nav id="menu">
    <h2><a href="/">Home</a></h2>
    <ul>
        <li>Blogs
            <ul>
                <%blog_info.forEach(blog => {%>
                <%blog_name = blog.split('.')[0]%>
                <li><a class="nav-list" href="/blog/<%=blog_name%>"><%=blog_name%></a></li>
                <%})%>
            </ul>
        </li>
        <li>Gallery
            <ul>
                <%gallery_info.forEach(project => {%>
                    <li><a class="nav-list" href="/gallery/<%=project['title']%>"><%=project['title']%></a></li>
                <%})%>
            </ul>
        </li>
    </ul>
</nav>