<!-- Menu -->
<nav id="menu">
    <h2><a href="/">Home</a></h2>
    <ul>
        <li>Blogs
            <ul>
                <li><a href="/blog/Niagara">Niagara</a></li>
            </ul>
        </li>
        <li>Gallery
            <ul>
                <li><a href="/gallery/Niagara">Niagara</a></li>
            </ul>
        </li>
    </ul>
</nav>