				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="lens/js/jquery.min.js"></script>
			<script src="lens/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="lens/js/main.js"></script>
</html>